*.exe
Intermediate/
.vs/
*.ilk
*.pdb
*.exp
db_dtw/
*.htm
checkerboard/toolbar.bmp
checkerboard/db
checkerboard/games/
checkerboard/nutshellgif/
checkerboard/scdb/
checkerboard/source/
checkerboard/*.txt
checkerboard/engines/*.lib
checkerboard/engines/*.dll



